:root {
    --primary : #000000;
    --bg: hwb(0 0% 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 2000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--primary);
    border-bottom: 1px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    font-style: italic;
  }

.navbar .navbar-logo span{
    color: hsl(0, 0%, 100%);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #449ef9;
  }

.navbar .navbar-nav a::after{
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid hsl(0, 0%, 100%);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/hero\ section\ bg.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}


.hero .content {
    padding: 1.4rem 5%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 4em;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 6px hwb(0 0% 100%);
    line-height: normal;
}


.hero .content p{
    font-size: 1.3rem;
    margin-top: 0.;
    background-color: hwb(0 0% 100% / 0.433);
}

.hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 3rem;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #0071e3;
}